.Yes{
    background-color: #C9E19C;
}
.No{
    background-color: #FF9E9D;
}
body{
    color: white;
    background-color: #CBC1C7;
}
th{
    color: white;
}
table{
    text-align: center;
}
#inputDiv{
    text-align: center;
}
label{
    font-size: 20px;
}
